.transactions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}
.transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 0 10px;
  box-sizing: border-box;
  border: 3px solid grey;
  border-radius: 20px;
  gap: 10px;
  margin-bottom: 10px;
}
.transaction div {
  display: inherit;
  gap: 10px;
}
.transaction button {
  background-color: #a04545;
  color: white;
  border: none;
  padding: 3px 6px;
}
.income {
  border-color: #45a049;
}
.expense {
  border-color: #a04545;
}
.expense-amount {
  color: #a04545;
  font-weight: 600;
}
.income-amount {
  color: #45a049;
  font-weight: 600;
}
