<div class="fetching-time" *appShowByRole="role()">
  <h4>update interval for rates (in milliseconds):</h4>
  <div>
    <input
      type="number"
      placeholder="enter time"
      value="30000"
      #intervalInput
      [(ngModel)]="ratesInterval"
      [disabled]="intervalInputEnabled() ? false : true"
    />
    <button
      (click)="onChangeIntervalClick()"
      [class]="intervalInputEnabled() ? 'save-button' : 'change-button'"
    >
      {{ intervalInputEnabled() ? "save" : "change" }}
    </button>
  </div>
</div>

<h2 class="balance">
  balance:
  {{
    (rates() && balance().amount
      | convert : balance().currency : currency() : rates()) || "0"
  }}
  {{ currency() }}
</h2>

<p class="info" *appShowByRole="role()">
  *Balance might vary due to the currency exchange rate and mixed values*
</p>
<div class="inputs" *appShowByRole="role()">
  <input
    type="number"
    [placeholder]="'amount in ' + this.currency()"
    [(ngModel)]="amount"
  />
  <input
    type="text"
    placeholder="description"
    class="desc"
    [(ngModel)]="description"
  />
  <button class="add" (click)="addTransaction()">add</button>
</div>
<p class="info" *appShowByRole="role()">
  for adding an expense (negative amount), add "-" before your amount
</p>
