input {
  border: 2px solid grey;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: 14px;
}
.info {
  opacity: 0.5;
  margin: 3px 0;
  margin-left: 20px;
  font-size: 14px;
}
.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 20px;
  background-color: lightgray;
  border-radius: 25px;
}
.inputs button {
  color: white;
  border: none;
  padding: 7px 20px;
  border-radius: 20px;

  background-color: #45a049;
}
.desc {
  width: 500px;
}
.balance {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}
.fetching-time {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.fetching-time div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: row;
}
.fetching-time div * {
  height: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 20px;
}
.fetching-time button {
  font-weight: 700;
  width: 70px;
}
.fetching-time button:hover {
  cursor: pointer;
}
.change-button {
  color: #45a049;
  border: 2px solid #45a049;
  background-color: white;
}
.save-button {
  color: white;
  border: none;
  background-color: #45a049;
}
