<div class="choose">
  @for(element of allCurrencies; track element.currency){
  <button
    (click)="setCurrency(element.currency)"
    [class.selected]="currency() === element.currency"
    [disabled]="!element.isAvailable && true"
  >
    {{ element.currency.toUpperCase() }} {{ element.isAvailable ? "" : "X" }}
  </button>
  }
</div>
<div class="choose">
  @for(element of allRoles; track element.role){
  <button
    (click)="setRole(element.role)"
    [class.selected]="role() === element.role"
    [disabled]="!element.isAvailable && true"
  >
    {{ element.role.toUpperCase() }} {{ element.isAvailable ? "" : "X" }}
  </button>
  }
</div>
